<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
</head>

<body style='font-family: "Helvetica", sans-serif; color: black; width: 1000px; margin: 0; background-color: #EAEEF3;'>
  <header style="height: 75px; background-color: #4F748C;">
    <div class="content-inner header-inner" style="height: 100%; position: relative; width: 600px; margin: auto;">
      <img style="margin-top: 25px;" src="https://s3-us-west-2.amazonaws.com/sm-horselinc/email_assets/Logo_email.png" />
    </div>
  </header>
  <div class="content-inner" style="width: 600px; margin: auto;">
    <div class="email-body" style="background-color: #FFF; margin-bottom: 20px;">
      <div class="margin-wrapper" style="margin: 30px; color: black;">
        <h1 style="margin-bottom: 10px; padding-top: 25px; color: black">Export Complete</h1>
        <p style="color: black;">Hello {{userName}},</p>
        <p style="color: black;">You recently requested an export of your Horselinc invoices.</p>
        <p style="color: black;">Your invoice data is enclosed in the attached .csv file.</p>
        <p style="color: black;">Thank you for using HorseLinc!</p>
        <br>
      </div>
    </div>
    <p style="color: #4F748C; padding-bottom: 15px; margin-bottom: 15px;">If you have any questions, contact us at <a href="mailto:info@horselinc.com">info@horselinc.com</a></p>
  </div>
</body>

</html>
